<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <!-- IS CUSTOM DIRECTORY -->
    <add key="isCustomDataSet" value="false"/>

    <!-- COUNT / TFIDF -->
    <add key="keywordExtractor" value="COUNT"/>

    <!-- LEMMATIZATION / STEMMING -->
    <add key="wordComparator" value="LEMMATIZATION"/>

    <!-- KEYWORDS PER LABEL  -->
    <add key="keywordsPerLabel" value="100"/>

    <!-- KEYWORD TO CUT -->
    <add key="keywordsToCut" value="5"/>

    <!-- LABEL: PLACES / TOPICS-->
    <add key="labels" value="PLACES"/>

    <!-- KEYWORDS FILE PATH-->
    <add key="keywordsFilePath" value="../../../Data/"/>
  </appSettings>
</configuration>
